:root{
    --main-color:#FFC15E;
    --bg:#CE6A85;
    --secundario: #77324d;
    --border:.1rem solid #FFC15E;
    --white: #fff;
    --black: #000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #FFC15E;
    border-radius: 5rem;
}

body{
    background: var(--white);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

section{
    padding:2rem 7%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
  
  /* Navbar */
nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    border-bottom: var(--border);
}
  
nav ul {
    display: flex;
    list-style: none;
}
  
nav ul li {
    margin-right: 20px;
}
  
nav ul li:last-child {
    margin-right: 0;
}
  
nav ul li a {
    color: var(--black);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
  
nav ul li a:hover {
    background-color: var(--main-color) ;
    color: var(--secundario);
}
  
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--secundario);
    margin-bottom: 5px;
    border-radius: 5px;
}
  
  /* Header */
header {
    background-color: var(--white);
    color: var(--main-color);
    margin-top: 15px;
    padding: 30px 0;
    text-align: center;
}
  
header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

section {
    background-color: var(--white);
}

  /* Main */

main {
    display: flex;
    width: 90%;
    margin: auto;
    height: 84vh;
    flex-direction: column;
    justify-content: center;
}

.TextInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ScreenMain{
    display: flex;
}

main div h1 {
    font-size: 64px;
    color: var(--main-color);
}

main div h2{
    color: var(--secundario);
    font-weight: 600;
    margin-block: 5px;
}

main div p{
    margin-bottom: 1.5rem;
    color: var(--secundario);
    width: 70%;
}

main .buttons {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

main .buttons button{
    cursor: pointer;

    width: 120px;
    height: 40px;

    border-radius: 5px;
    border: 1px solid transparent;

    background-color: var(--main-color);
    color: var(--black);

    font-weight: bold;
    font-size: 10px;

    transition: .5s;
}

.buttons button:hover {
    border-color: var(--secundario);
    background-color: var(--white);
    color: var(--secundario);
}

main .buttons .saiba-mais{
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;

    margin-left: 20px;

    font-weight: bold;
    color: var(--main-color);
}

main .buttons svg{
   transition: .5s; 
}

main .buttons a:hover svg {
    margin-left: 7px;
    transform: scale(1.3);
}

main img{
    width: 30vw;
    margin-left: 200px;
}
  
  /* Formulário de contato */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    margin-bottom: 4.5rem;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    font-weight: bold;
    margin-bottom: 5px;
}
  
input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
}
  
textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
  
button[type="submit"] {
    background-color: var(--secundario);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--bg);
    color: var(--black);
}

#AboutUs h1, #Team h1 {
    margin-top: 3rem;
    text-align: center;
    color: var(--secundario);
    font-size: 3rem;
    font-weight: 1000;
}

.team1, .team2, .team3{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.dev-person {
    text-align: center;
    color: var(--secundario);
    font-size: 1.2em;
}

.dev-person img{
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    transition: .5s;
}
.dev-person img:hover{
    transform: scale(1.1);
}

.team1, .team2, .team3{
    color: black;
}

.team1 a:visited, .team2, .team3 a:visited {
    color: var(--secundario);
}

.dev-person a:hover{
    color: var(--main-color);
    transition: 0.2s ease-in;
}


  /*==== Rodapé ====*/
footer{
    background: var(--white);
    position: relative;
    justify-content: center;
}

.container-rodape{
    padding-top: 1.5rem;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    display: flex;
    padding-bottom: 1.5rem;
}

.container-rodape .linha-vertical{
    background-color: var(--main-color);
    height: 4px;
    max-width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container-rodape .linha-vertical2{
    background-color: var(--main-color);
    height: 4px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-self: right;
}

.sobre-nos{
    color: var(--secundario);
}

.sobre-nos h2{
    font-size: 2rem;
}

.sobre-nos p{
    font-size: 17px;
    max-width: 300px;
}
.panellinks{
    margin: auto;
}

.links{
    display: flex;
}

.links li a i{
    color: var(--black);
    font-size: 25px;
}

.links li a{
    cursor: pointer;
    padding: 10px;
    background-color: var(--main-color);
    display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s ease-out;
}

.links li a:hover{
    padding: 10px;
    background-color: var(--secundario);
    transition: .2s ease-in;
}

.links li a:hover i {
    color: rgb(236, 235, 235);
}

.contate-nos{
    text-align: right;
    color: var(--secundario);
}

.contate-nos p{
    max-width: 250px;
}

li {
    list-style-type: none;
}

.Questions{
    margin: auto;
}
.questionItem{
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.line{
    border: 1px solid #CE6A85;
    border-radius: 1rem;
    transition: .5s ease;
}
.TextQandA{
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.TextQandA i{
    color: var(--black);
    font-size: 1.5rem;
}
.TextQandA p{
    color:var(--black);
    font-size: 1.5rem;
    font-weight: 400;
}
.Answer{
    margin: auto;
    width: 95%;
    display: block;
    margin-bottom: 1rem;
    transition: .5s ease-in;
}
.show{
    display: block;
}
.showOff{
    display: none;
}
.Answer p{
    color:var(--black);
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    transition: .5s ease-in;
}

.linkForm{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 3em;
}

.linkForm p{
    color: var(--secundario);
}

.linkForm a{
    color: var(--main-color);
}

  /* Animações */
nav {
    transition: all 0.2s ease-in-out;
}
  
nav.active {
    background-color: var(--bg);
}

nav.active ul {
    display: block;
}
    
nav.active ul li {
    margin: 0;
    padding: 10px;
}
    
header h1 {
    animation: fadeInUp 1s ease-in-out;
}

.TextInfo h1 {
    animation: fadeInUp 1s ease-in-out;
}
    
@keyframes fadeInUp {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    
    @keyframes pulse {
    from {
    transform: scale(1);
    }
    
    to {
    transform: scale(1.1);
    }
}
    
    /* Responsividade */
@media screen and (max-width: 900px) {
    nav ul {
    display: none;
    }
    
    .hamburger {
    display: flex;
    }
    
    .container {
    padding: 0;
    }
    
    nav.active {
    height: 100vh;
    }
    
    nav.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    
    .social {
    margin-top: 40px;
    }

    main div h1 {
        align-self: center;
        font-size: 4rem;
        color: var(--main-color);
    }    

    .TextInfo{
        padding-inline:5vw ;
        width: 100%;
        height: 100%;
    }

    main div p{
        color: var(--secundario);
        width: 100%;
    }
    

    main > div {
        width: 90vw;
        height: auto;
        margin-block: 3rem;
    }
 
    main > div:last-of-type img {
        width: 30vw;
        display: none;
    }
}
    
@media screen and (max-width: 540px) {
    main > div:last-of-type img {
        width: 50vw;
    }

    main > div:last-of-type {
        margin-bottom: 0;
    }
}     

@media screen and (max-width: 300px){ 
    header > div h1 {
        font-size: 1.5rem;
    }

    main div h1 {
        font-size: 2.5rem;
    }
    
    .menu {
        width: 90vw !important;
    }
}

@media screen and (max-width: 1500px) {
    .menu {
        width: 16rem;
    }
}